.testimonials {
  margin: 0 48px;
}

@media only screen and (max-width: 768px) {
  .testimonials {
    margin: 0 24px;
  }
}

@media only screen and (max-width: 678px) {
  .testimonials {
    margin: 0 16px;
  }
}
