.gallery {
  display: grid;
  margin: 0 auto;
}

@media (min-width: 1184px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
  }
}

@media (min-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 14px;
  }
}

@media (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    gap: 16px;
  }
}

@media (min-width: 320px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    gap: 12px;
  }
}
