.gallery {
  display: grid;
  margin: 0 auto;
  max-width: 1184px;
  grid-template-columns: repeat(auto-fit, minmax(284px, auto));
  gap: 16px;
  padding: 0 48px;
}

@media only screen and (max-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 14px;
  }
}

@media only screen and (max-width: 768px) {
  .gallery {
    padding: 0 24px;
    gap: 16px;
  }
}
