.media__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 78px;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}


@media only screen and (max-width: 768px) {
  .media__title {
    font-size: 42px;
    line-height: 46px;
  }
}

@media only screen and (max-width: 678px) {
  .media__title {
    font-size: 32px;
    line-height: 35px;
  }
}
