.lang-menu__menu-item {
  list-style-type: none;
  font-size: 24px;
  font-weight: 400;
  line-height: 117%;
  color: hsl(0, 0%, 100%);
}

.lang-menu__menu-item:last-of-type {
  margin-left: 18px;
}

@media only screen and (max-width: 678px) {
  .lang-menu__menu-item {
    font-size: 18px;
    line-height: 111%;
  }
}
