.intro__title {
  font-weight: 900;
  font-size: 54px;
  line-height: 107%;
  margin: 0;
}

@media only screen and (max-width: 678px) {
  .intro__title {
    font-size: 32px;
    line-height: 109%;
  }
}

@media only screen and (max-width: 320px) {
  .intro__title {
    max-width: 250px;
  }
}
